/*
    EXE_01 Web Style Sheet

   Filename: main.css
    Author:
    Date: 4/4/2021

    XK-Z0-0_0

*/
/* imports */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inconsolata&family=Roboto+Mono&family=Share+Tech+Mono&family=VT323&display=swap");

/*Reset Styles:*/

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

table {
}
/* global styles */
body {
}
/* body & page container */
body {
}

section {
}

/* navigation */
nav {
}
/* header section*/
header {
}
/* main content */
article {
}

section {
}

h1 {
}

h2 {
}

h3 {
}

p {
}
/*footer section*/
footer {
}
/* print styles */
@page {
}
